@font-face {
	font-family: "Glass-TTY-VT220";
	src: url("./assets/fonts/Glass_TTY_VT220.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "clacon2";
	src: url("./assets/fonts/clacon2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ModernDOS9x16";
	src: url("./assets/fonts/ModernDOS9x16.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.App {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
}

.boot-screen,
main {
	display: flex;
	flex-direction: column;
	width: 1024px;
	height: 768px;
	overflow-y: auto;
}

body {
	margin: 0;
	font-family: "Glass-TTY-VT220", Courier, monospace;
	font-size: 20px;
	color: #00ff00;
	background-color: #000000;
	scrollbar-color: black;
}

header,
footer {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #000000;
}

header {
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7), 0 0 10px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.5),
		0 0 20px rgba(0, 255, 0, 0.4);
	fill: #00ff00;
	top: 0;
}

footer {
	font-family: "ModernDOS9x16";
	font-size: 16px;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7), 0 0 10px rgba(0, 255, 0, 0.6), 0 0 15px rgba(0, 255, 0, 0.5),
		0 0 20px rgba(0, 255, 0, 0.4);
	bottom: 0;
}

.boot-screen-header {
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto;
	padding-bottom: 50px;
}

.boot-screen-main {
	flex: 1;
	padding-top: 20px;
	overflow-y: auto;
	line-height: 1.4;
}

.boot-screen-footer {
	flex: 0 0 auto;
	padding-top: 50px;
}

.energy-star-logo {
	width: 20%; /* Ajuste o tamanho conforme necessário */
	height: auto;
}

.detection-table {
	width: 45%;
	padding: 0px;
	border-spacing: 0px;
}

.detection-table td {
	padding: 0px;
}

p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0em;
	margin-inline-end: 0em;
}

.detection-table td:nth-child(1) {
	width: 60%;
}
.detection-table td:nth-child(2) {
	width: 10%;
}
.detection-table td:nth-child(3) {
	width: 15%;
}

h3 {
	font-weight: normal;
}

a {
	color: #00ff00;
	text-decoration: none;
	margin: 0 10px;
}

a:hover,
.voltar:hover,
.menu div:hover {
	text-decoration: underline;
}

.menu {
	align-items: flex-start;
	border: 2px solid #00ff00;
	padding: 10px;
	margin: auto;
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.menu div {
	border: none;
	margin-bottom: 2px;
	cursor: pointer;
}

.msdos-prompt {
	width: 820px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: flex-end;
}

.msdos-prompt input {
	background-color: transparent;
	color: #00ff00;
	font-family: "Glass-TTY-VT220", Courier, monospace;
	border: none;
	outline: none;
	font-size: 20px;
	margin-left: -8px;
	margin-top: -1px;
}

.command {
	margin-left: -6px;
}

.blinking-cursor {
	animation: blink 1s infinite;
	font-size: 19px;
	font-family: monospace;
	margin-top: -1px;
	margin-left: -8px;
}
.cdoispontos {
	font-size: 20px;
}

.blinking-cursor {
	animation: blink 1s infinite;
	font-size: 19px;
	font-family: monospace;
	margin-top: -1px;
}

.hidden {
	color: transparent;
}

.cmd-header {
	padding-bottom: 50px;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #1f1f1f;
}

*::-webkit-scrollbar-thumb {
	background: #00ff41;
	border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #00cc36;
}

body {
	scrollbar-width: thin;
	scrollbar-color: #00ff41 #1f1f1f;
}

.paragraph {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.paragraph.show {
	opacity: 1;
}

span {
	text-align: justify;
}

strong {
	font-size: 19px;
}
